* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
    background-color: #1F2937;
    margin: 4em 0 0 1.5em;
}

header {
    color: whitesmoke;
}

h1 {
    font-size: 40px;
    letter-spacing: -1px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    line-height: 1;
}

p {
    color: #919191ec;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin: 0.5em 0 1.5em;
}

#header-span {
    color: #4ADF86;
    display: block;
}

.generateBtn {
    margin: 1em 0;
    padding: 15px;
    font-size: 16px;
    background-color: #10B981;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    letter-spacing: 1px;
}

label {
    color: #919191ec;
}

input {
    margin-left: 2rem;
    background-color: #273549;
    color: #55F991;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    width: 63px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.output-container {
    margin-top: 6em;
}

#output1,
#output2 {
    margin-right: 1em;
    background-color: #273549;
    color: #55F991;
    font-family: "Inter", sans-serif;
    padding: 0.7em 3em;

    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
}

/* Light Mode */

body.dark-mode {
    background-color: whitesmoke;
}

.dark-mode {
    color: #1F2937;
}